@import "../page.css";


/* page title */
.page-title-container-outer {
  width: 100%;
  max-width: 1280px;
}

.page-title-container-lg {
  width: 520px;
  height: 90px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.page-title {
  font-size: 60px;
}

.page-title-border {
  position: absolute;
}


.projects-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
}

.page-title-container-sm {
  display: none;
  margin-left: 5%;
  width: 215px;
  height: 95px;
}

.page-title-border-sm {
  position: absolute;
}

.page-title-sm {
  font-size: 36px;
  margin: auto;
}


@media (min-width: 1280px) {
  .page-inner-container {
    width: 1280px;
  }
}


@media (max-width: 600px) {
  .page-title-container-lg {
    display: none;
  }

  .page-title-container-sm {
    display: flex;
  }
}

@media (max-width: 600px) {
  .navbar-background {
    opacity: 80%;
  }

  .navbar-items {
    display: none;
  }

  .active {
    display: flex;
  }

  .navbar-items-mobile {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }
}

