@import "../page.css";


/* Inner Page Container */
.page-inner-container {
  width: 100%;
  max-width: 1280px;
}


/* page title */
.page-title-container-lg {
  width: 360px;
  height: 90px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title-container-sm {
  display: none;
  width: 225px;
  height: 55px;
  margin-left: 5%;
  margin-bottom: 10%;
}

.page-title-container-outer {
  width: 100%;
  max-width: 1280px;
  display: flex;

}

.page-title {
  font-size: 60px;
}

.page-title-border-lg {
  position: absolute;
}

.page-title-border-sm {
  position: absolute;
}

.page-title-sm {
  font-size: 36px;
  margin: auto;
}


/* section styling */

.section-container {
  width: 100%;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.section {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.section-info {
  font-size: 18px;
  width: 100%;
  margin-bottom: 50px;
}

.section-info h2 {
  font-size: 64px;

  margin-bottom: 30px;
}

.alt-bg {
  background-color: white;

  box-shadow: inset 0px -8px 5px -4px rgba(0, 0, 0, 0.3), inset 0px 8px 5px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px -8px 5px -4px rgba(0, 0, 0, 0.5), inset 0px 8px 5px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -8px 5px -4px rgba(0, 0, 0, 0.5), inset 0px 8px 5px -4px rgba(0, 0, 0, 0.5);
}

.alt-txt {
  color: #2E2E30;
}


/* carousel styling */

.carousel {
  --carousel-height: 400px;
  --carousel-width: 100%;
  --carousel-item-height: 360px;
  --carousel-item-width: 290px;
  --carousel-img-hw: 200px;
  --carousel-font-size: 26px;
  width: 100%;
}

.carousel-container {
  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 0 auto;
  max-width: var(--carousel-width);
  position: relative;
}

.carousel-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
  background-color: #2E2E30;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  font-size: var(--carousel-font-size);
}

.name {
  font-weight: bold;
}

.role {
  margin-top: -5%;
}


.carousel-item-1,
.carousel-item-3 {
  height: var(--carousel-item-height);
  opacity: 1;
  width: var(--carousel-item-width);
  z-index: 1;
  font-size: var(--carousel-font-size);
}

.carousel-item-1 img,
.carousel-item-3 img {
  height: var(--carousel-img-hw);
  width: var(--carousel-img-hw);
}

.carousel-item-1 {
  left: calc(0% + (var(--carousel-item-width) / 2) + 20px);
}

.carousel-item-2 {
  height: var(--carousel-item-height);
  opacity: 1;
  left: 50%;
  width: var(--carousel-item-width);
  z-index: 2;
  font-size: var(--carousel-font-size);
}

.carousel-item-3 {
  left: calc(100% - (var(--carousel-item-width) / 2) - 20px);
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.headshot-image {
  width: var(--carousel-img-hw);
  height: var(--carousel-img-hw);
  object-fit: cover;
  border-radius: 50%;
  margin-top: 8%;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  border: 3px solid white;
}

@media (max-width: 900px) {
  .carousel {
    width: 1000px;
  }
}


/* carousel button styles */
.carousel-control {
  background-color: transparent;
  border: 2px solid;
  border-radius: 4px;
  color: #aaa;
  cursor: pointer;
  height: 22px;
  margin: 0 30px;
  position: relative;
  transform: scale(1.5);
  transition: transform 0.5s ease-out;
  width: 22px;
}

.carousel-control:hover {
  transform: scale(1.3);
}

/* previous button */
.carousel-control-previous::after,
.carousel-control-previous::before {
  box-sizing: border-box;
  content: '';
  display: block;
  height: 8px;
  position: absolute;
  top: 5px
}

.carousel-control-previous::before {
  background: currentColor;
  border-radius: 2px;
  right: 11px;
  width: 2px;
}

.carousel-control-previous::after {
  border-bottom: 4px solid transparent;
  border-right: 5px solid;
  border-top: 4px solid transparent;
  right: 5px;
  width: 0;
}

/* next button */
.carousel-control-next::after,
.carousel-control-next::before {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  top: 5px
}

.carousel-control-next::before {
  background: currentColor;
  border-radius: 2px;
  left: 11px;
  width: 2px;
}

.carousel-control-next::after {
  border-bottom: 4px solid transparent;
  border-left: 5px solid;
  border-top: 4px solid transparent;
  left: 5px;
  width: 0;
}


@media (max-width: 1280px) {
  .section-info {
    width: 90%;
  }
}


@media (max-width: 600px) {
  /* change to small title */
  .page-title-container-lg {
    display: none;
  }

  .page-title-container-sm {
    display: flex;
  }

  .section-info h2 {
    font-size: 42px;
  }

  .section-info p {
    font-size: 16px;
  }
}

