  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Global styles on this page */
  * {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  button:hover {
    scale: 110%;
  }

  body {
    height: 100%;
    background-image: linear-gradient(120deg, #494582, #1E5587, rgba(8, 94, 138, 0.8));
  }

/* CSS for the AIM loading page */
  .loader-wrapper {
    width: 100%;
    z-index: 10000;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    display: inline-block;
    position: relative;
    height: 30%;
    width: 30%;
    background-size: cover;
  }




/* Animation for the text (WELCOME TO AIM) */
  @keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 100%;
    }

    50% {
      transform: scale(1.2);
      opacity: 50%;
    }

    100% {
      transform: scale(1);
      opacity: 100%;
    }
  }

  .aim-title {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    color: #333;
    text-align: center;
    margin: 50px 0;
    animation: pulsate 2s infinite;

  }

/* Navigation Bar */
  .navbar {
    display: flex;
    color: white;
    width: 100%;
    height: 100px;
    top: 0;
    justify-content: center;
    border-bottom: 2px solid #2E2E30;
    position: sticky;
    z-index: 10;
    backdrop-filter: blur(5px);
  }

  .navbar-background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 20%;
    z-index: -1;
    background-color: #2E2E30;

  }

  .navbar-items {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: right;
    justify-content: space-evenly;
    max-width: 1280px;

  }

  .navbar-items li {
    margin-top: auto;
    margin-bottom: auto;
  }

  .navbar-items li a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */

    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }

  .navbar-items li a:not(.logo):hover {
    color: #2E2E30;
    background-color: white;

  }


/* Navigation Bar for mobile */
  .mobile-menu-items-container {
    display: none;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 20;
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .mobile-menu-items-bg {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #2E2E30;
    z-index: -1;
    opacity: 90%
  }


  .navbar-items-mobile {
    display: none;

  }


  .mobile-menu-items {
    list-style: none;
    display: block;
    margin: 0;
    backdrop-filter: blur(10px);
  }

  .mobile-menu-items li {
    margin: 10px 0;
    width: 100vw;
  }

  .mobile-menu-items li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
    color: white;
  }




/* Background Image (about us page) */
  #stars {
    background-image: url('../images/stars.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -100px;
    flex-direction: column;
    animation: myAnim 5s ease 0s 1 normal none;
    background-position: 0% 0%;
  }

  @keyframes myAnim {
    0% {
      background-position: 100% 100%;
    }



    100% {
      background-position: 0% 0%;
    }
  }

  #title {
    font-size: 90px;
    animation: resolve 3s;
  }

  @keyframes resolve {
    0% {
      opacity: 0%;
    }

    10% {
      opacity: 10%;
    }

    25% {
      opacity: 25%;
    }

    45% {
      opacity: 45%;
    }

    50% {
      opacity: 50%;
    }

    70% {
      opacity: 70%;
    }

    90% {
      opacity: 90%;
    }

    100% {
      opacity: 100%;
    }

  }

  #title-text {
    animation: resolve 3s;
    font-family: mon;
    font-size: 38px;
    padding: 5px;
    margin: 8px;
  }



/* Introduction Section */
  #intro {
    background: linear-gradient(90deg, rgba(73, 69, 130, 1) 0%, rgba(50, 85, 135, 1) 63.28%, rgba(8, 94, 138, 1) 100%);
    height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: gradient 3s ease-in-out infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }



  #intro h2 {
    font-size: 3.5vw;
    font-family: Montserrat;
    margin: 1.5em;
  }



  #intro p {
    font-size: 1.6vw;
    font-weight: 100;
    margin: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }


  button {
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #2E2E30;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    border: 3px #ffffff solid;
    transition: background-color 0.3s ease;
  }

  button:hover {
    color: #2E2E30;
    background-color: white;
    border: 3px #2E2E30 solid;
  }

/* Projects Section */
  #projects {
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  #projects h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  #projects a {
    margin: auto;
    text-align: center;
  }

  #projects p {
    margin: auto;
    text-align: center;
  }

  #projects button {
    align-self: center;
  }



  .title-container {
    justify-content: left;
    margin-right: 20px;
    margin-left: 30px;
    width: 100%;
    text-align: left;
  }

  .title-container h1 {
    font-size: 3.5vw;
    margin-bottom: 10px;
  }

  /* Our Team Section  */

  #our-team {
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: left;
    justify-content: center;
    background-color: white;
    padding: 20px;
    text-align: center
  }

  #our-team h2 {
    font-size: 3.5vw;
    margin-bottom: 20px;
    
  }

  #our-team p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

/* Footer */
  .footer {
    background: rgb(73, 69, 130);
    background: linear-gradient(90deg, rgba(73, 69, 130, 1) 0%, rgba(30, 85, 135, 1) 63.28%, rgba(8, 94, 138, 1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%
  }


  /* 800 Pixels Responsiveness */
@media (max-width: 800px) {
  #intro {
    height: 65vh;

  }

  #stars {
    background-position: center;
  }

  #title {
    font-size: 40px;
    text-align: center;
  }

  #title-text {
    font-size: 20px;
    text-align: center;
  }

  #intro h2 {
    font-size: 32px;
  }

  #intro p {
    font-size: 18px;
    padding: 3px;
  }

  #projects h1 {
    font-size: 36px;
  }

  #projects p {
    font-size: 17px;
    padding: 3px;
  }

  #our-team h2 {
    font-size: 30px;
  }

  #our-team p {
    font-size: 18px;
    padding: 3px;
  }

  .footer p {
    font-size: 13px;
    text-align: center;
  }

}

/* 600 Pixels Responsiveness */

  @media (max-width: 600px) {
    #intro {
      height: 65vh;

    }

    #stars {
      background-position: center;
    }

    #title {
      font-size: 40px;
      text-align: center;
    }

    #title-text {
      font-size: 20px;
      text-align: center;
    }

    #intro h2 {
      font-size: 32px;
    }

    #intro p {
      font-size: 18px;
      padding: 3px;
    }

    #projects h1 {
      font-size: 36px;
    }

    #projects p {
      font-size: 17px;
      padding: 3px;
    }

    #our-team h2 {
      font-size: 30px;
    }

    #our-team p {
      font-size: 18px;
      padding: 3px;
    }

    .footer p {
      font-size: 13px;
      text-align: center;
    }

  }

  /* 400 Pixels Responsiveness */
  @media (max-width: 400px) {
    #intro {
      height: 55vh;

    }

    #stars {
      background-position: center;
    }

    #title {
      font-size: 45px;
      text-align: center;
    }

    #title-text {
      font-size: 24px;
      text-align: center;
    }

    #intro h2 {
      font-size: 28px;
    }

    #intro p {
      font-size: 14px;
    }

    #projects h1 {
      font-size: 32px;
    }

    #projects p {
      font-size: 15px;
    }

    .future-section h1 {
      font-size: 28px;
    }

    .future-section p {
      font-size: 2.5vw;
    }

    #our-team h2 {
      font-size: 28px;
    }

    #our-team p {
      font-size: 15px;
    }

    .footer p {
      font-size: 11px;
      text-align: center;
    }

  }


  @media (max-width: 600px) {
    .navbar-background {
      opacity: 80%;
    }

    .navbar-items {
      display: none;
    }

    .active {
      display: flex;
    }

    .navbar-items-mobile {
      display: flex;
      width: 90%;
      align-items: center;
      justify-content: space-between;
    }
  }



  @media only screen and (max-width: 600px) {
    .future-section {
      flex-direction: column-reverse;
      height: auto;
    }

    #content {
      justify-self: center;
      text-align: left;
    }

    .future-section-image {
      order: -1;
    }

    #content h1 {
      font-size: 3.5vw;
      margin-bottom: 15px;
    }

    

    button {
      margin-top: 20px;
    }
  }

  /* Future Section */

  #future {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95vh;
    overflow: hidden;
  }


.content {
    height: 100%;
    width: 50%;
    background-color: #2E2E30;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content h1 {
    font-size: 2.5vw;
    margin: 20px 0;
    margin-bottom: 40px;
}

#future h1 {
    font-size: 3.5vw;
    text-align: center;
}

#future p {
    font-size: 1.5vw;
    text-align: left;
    padding: 3px;
}

.future-section-image {
  background-image: url('../images/robot.jpeg');
  background-size: fill;
  background-repeat: no-repeat;
  width: 50%;
  aspect-ratio: 1/1
}

.contentp {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    flex-direction: column;
    align-items: flex-start;
}

.contentp p {
    margin-bottom: 10px;
    font-size: 1.2vw;
    font-family: Arial;
}

.contentp a {
    margin-right: 0;
}

  

  #future-t {
    margin-top: 6vh;
    font-size: 24px;

  }



