@import "../page.css";


/* page title */
.page-title-container-outer {
  width: 100%;
  max-width: 1280px;
}

.page-title-container-lg {
  width: 675px;
  height: 90px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.page-title-container-sm {
  display: none;
  width: 220px;
  height: 55px;
  margin-left: 5%;
  margin-bottom: 10%;
}

.page-title {
  font-size: 60px;
}

.page-title-border-sm {
  position: absolute;
}

.page-title-sm {
  font-size: 36px;
}

.page-title-border-lg {
  position: absolute;
}


/* hero section */

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
  max-width: 1280px;
  flex-wrap: wrap;
}

.hero-section-image-container {
  width: 50%;
}

.hero-section-image {
  width: 90%;
  aspect-ratio: 4/3;
  background-color: grey;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
}

.hero-section-text {
  width: 50%;
}


/*
 Recruitment section
*/
.recruitment-section {
  width: 100%;
  height: 95vh;
  max-height: 700px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0px -8px 5px -4px rgba(0, 0, 0, 0.3), inset 0px 8px 5px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px -8px 5px -4px rgba(0, 0, 0, 0.5), inset 0px 8px 5px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -8px 5px -4px rgba(0, 0, 0, 0.5), inset 0px 8px 5px -4px rgba(0, 0, 0, 0.5);
}

.recruitment-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recruitment-section-heading {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.recruitment-section-text {
  color: black;
  text-align: center;
}

.recruitment-line-break {
  margin-bottom: 10%;
}

.recruitment-button {
  margin-top: 80px;
  padding: 15px 30px 15px 30px;
  background-color: #2E2E30;
  font-weight: bold;

  cursor: pointer;
  border-radius: 25px;
  border: 3px #2E2E30 solid;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.recruitment-button:hover {
  color: #2E2E30;
  background-color: white;
}


/*
  Roles css
*/
.roles-section {
  width: 100%;
  max-width: 1280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 300px;
}

.roles-section-header {
  font-size: 40px;
  margin-bottom: 5%;
}

.roles-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.roles-section-card {
  width: 350px;
  height: 410px;
  background-color: #F6ECDF;
  margin-bottom: 3%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25)
}

.roles-section-card-content {
  margin: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.roles-section-card-title {
  color: #2E2E30;
  font-size: 32px;
}

.roles-section-card-text {
  color: #2E2E30;
  font-size: 18px;
}

.roles-section-card-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.fa-camera,
.fa-book,
.fa-terminal,
.fa-sitemap {
  color: #2E2E30;
}

.roles-section-card-button {
  padding: 15px 30px 15px 30px;
  background-color: #2E2E30;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 25px;
  border: 3px #2E2E30 solid;
  transition: background-color 0.3s ease;
}

.roles-section-card-button:hover {
  color: #2E2E30;
  background-color: white;
}

.roles-section-card-button:hover>.fa-arrow-right {
  color: #2E2E30;
}


.mobile {
  display: none;
}


@media (min-width: 1280px) {

  .page-inner-container {
    width: 1280px;
  }

  .hero-section-image {
    margin-left: 0;
  }
}



@media (max-width: 600px) {
  .roles-section-card-content {
    gap: 10px;
  }

  .roles-section-card-button {
    padding: 15px 20px;
  }

  .roles-section-card {
    width: 260px;
    height: 370px;
  }

  .roles-section-card-text {
    font-size: 16px;
  }

  .regular {
    display: none;
  }

  .mobile {
    display: initial;
  }
}

@media (max-width: 850px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section-image-container {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .hero-section-image {
    margin: 0;
  }

  .hero-section-text {
    width: 90%;
    text-align: center;
  }


  .page-title-container-lg {
    display: none;
  }

  .page-title-container-sm {
    display: flex;
  }
}

