* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}


body {
  height: 200vh;
  background-image: linear-gradient(120deg, #494582, #1E5587, rgba(8, 94, 138, 0.8));
}

/* navigation bar css */
.navbar {
  display: flex;
  color: white;
  width: 100%;
  height: 100px;
  justify-content: center;
  border-bottom: 1px solid #2E2E30;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 20%;
  z-index: -1;
}

.navbar-items {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: right;
  justify-content: space-evenly;
}

.navbar-items li {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-items li a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;

  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}


/* banner css */

.banner-container {
  height: 270px;
  width: 100%;
}

.banner {
  width: 100%;
}

.banner-text {
  font-size: 80px;
  font-weight: bold;
  fill: white;
}

.banner-text-1 {
  fill: #9A98E9;
}

.banner-text-2 {
  fill: #FF9696;
}

.banner-row1 {
  width: 100%;
}

/* page container */
.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* page title */
.page-title-container-outer {
  width: 100%;
  max-width: 1280px;
}

.page-title-container {
  width: 350px;
  height: 90px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.page-title {
  font-size: 60px;
}

.page-title-border {
  position: absolute;
}


#stars {
  background-image: url('../images/stars.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  flex-direction: column;
}


.profile {
  width: 50px;
  height: 50px;
}

.team-carouselD {
  display: flex;
  margin: 30px auto;
  max-width: 1450px;
  height: 50vh;
}

.content {
  width: 50%;
  order: 2;
  padding: 20px;
}

.members-container {
  width: 50%;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.members {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  scroll-snap-align: start;
}

.team-memberD {
  flex: 200px 200px 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.control {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.prev-arrow,
.next-arrow {
  padding: 5px 3px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.team-carouselE {
  display: flex;
  margin: 30px auto;
  max-width: 1450px;
  height: 50vh;
}

.team-memberE {
  flex: 200px 200px 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.team-carouselL {
  display: flex;
  margin: 30px auto;
  max-width: 1450px;
  height: 50vh;
}

.team-memberL {
  flex: 200px 200px 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.team-carouselM {
  display: flex;
  margin: 30px auto;
  max-width: 1450px;
  height: 50vh;
}

.team-memberM {
  flex: 200px 200px 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

/* Media queries for responsive adjustments */

@media (max-width: 768px) {
  .team-carousel {
    flex-direction: column;
  }

  .content,
  .members-container {
    width: 100%;
    order: unset;
  }

  .team-member {
    flex-basis: auto;
  }
}